{% extends 'layout.html.twig' %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/addPattern.css">{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-12">
                <h1 class="title">Ajout d'une nouvelle catégorie</h1>
            </div>
        </div>
        {% if not errors is empty %}
            <div class="row ">
                {% for error in errors %}
                    <div class="col-md-8 offset-md-2 alert alert-danger">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <form action="" method="POST" enctype="multipart/form-data">
                    <div class="barreForm1">
                        <label for="name">Nom de la catégorie:</label>
                        <input type="text" name="name" id="name">
                    </div>
                    <div>
                        <label for="image">Fichier:</label>
                        <input type="hidden" name="MAX_FILE_SIZE" value="3000000"/>
                        <input  type="file" id="image" name="image">
                    </div>
                    <button type="submit" class="btn btn btn-dark">Télécharger</button>
                    <p><strong>Note:</strong> Seuls les formats .jpg, .gif, .png sont autorisés jusqu'à une taille maximale de 2 Mo.</p>
                </form>
                <a href="/categoryadmin/index" class="btn btn-dark" role="button">Retour</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}{% endblock %}