{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="assets/css/footer.css">
{% endblock %}

{% block footer %}

    <footer>
        <div class="containerFooter">
            <div class="container">
                <div class="container text-center text-md-left mt-5">
                    <div class="row mt-3">
                        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                            <h3 class="text-uppercase font-weight-bold">Design Broderie</h3>
                            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto">
                            <p>Pour donner à votre entreprise, tous les éléments d'une communication exceptionnelle et de
                                qualité, n'hésitez pas à afficher votre publicité sur vos vêtements professionnels. De par son
                                élégance et sa solidité, la broderie apporte à votre image une haute valeur ajoutée. </p>
                        </div>
                        <div class="catalog col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                            <h3 class="text-uppercase font-weight-bold">Catalogue</h3>
                            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto">
                            <p><a href="#!">Tee-shirts</a></p>
                            <p><a href="#!">Polos</a></p>
                            <p><a href="#!">Chemises</a></p>
                            <p><a href="#!">Sweats</a></p>
                            <p><a href="#!">Polaires</a></p>
                            <p><a href="#!">Casquettes</a></p>
                        </div>
                        <div class="utile col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                            <h3 class="text-uppercase font-weight-bold">Liens utiles</h3>
                            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto">
                            <p><a href="#!">Demander un devis</a></p>
                            <p><a href="#!">Nous contacte</a></p>
                        </div>
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                            <h3 class="text-uppercase font-weight-bold">Contact</h3>
                            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto">
                            <p><i class="fas fa-home mr-3">49 Rue de Manthelon, 45370 Mézières-lez-Cléry</i></p>
                            <p><i class="fas fa-phone mr-3">02 38 45 95 78</i></p>
                            <p><i class="fas fa-print mr-3">06 48 60 09 71</i></p>
                        </div>
                    </div>
                </div>
                    <div class="footer-copyright text-center py-3">© 2020 Copyright:
                        <p>Siret : 484 849 120 00015 - APE : 1399Z - TVA Intra Com. FR 71 484849120 </p>
                    </div>
            </div>
        </div>
    </footer>
{% endblock %}