{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}

{% block content %}

    <section class="banner">
        <div class="title">
            <h1>Design broderie</h1>
            <h2>Notre métier a de l'avenir</h2>
        </div>
    </section>

    <section class="categories">
        <h2>Nos vêtements à personnaliser</h2>
        <div class="container-fluid">
            <div class="row">
                {% for category in categories %}
                    <div class="d-flex col-md-2 justify-content-center">
                        <img class="imageOrder" src="/assets/images/{{ category.image }}" alt="Vêtements" title="Nos vêtements">
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="buttonCatalogue">
            <a class="btn btn-dark" href="/category/index">Voir notre catalogue</a>
        </div>
    </section>

    <section class="orderStep">
        <h2>Nos étapes de commande</h2>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <img class="imageOrder" src="/assets/images/porte.jpg" alt="Vêtements" title="Nos vêtements">
                    <img class="imageStep" src="/assets/images/one.png" alt="1" title="1">
                    <p>Choisissez vos vêtements sur <a href="/category/index">notre site</a> ou envoyez-nous les votres</p>
                </div>
                <div class="col-lg-3">
                    <img class="imageOrder" src="/assets/images/formulaire.jpg" alt="Formulaire" title="Sourire">
                    <img class="imageStep" src="/assets/images/two.png" alt="2" title="2">
                    <p>Remplissez <a href="/order/sendquote">notre formulaire</a> et faites-nous parvenir votre ou vos visuels
                    </p>
                </div>
                <div class="col-lg-3">
                    <img class="imageOrder" src="/assets/images/machine.jpg" alt="Barudan" title="Barudan">
                    <img class="imageStep" src="/assets/images/three.png" alt="3" title="3">
                    <p>Votre visuel est transformé en programme de broderie. Il est stocké pendant plusieurs années dans
                        une
                        base de données, ce qui vous permet de refaire vos broderies quand vous le souhaitez !</p>
                </div>
                <div class="col-lg-3">
                    <img class="imageOrder" src="/assets/images/transport.jpg" alt="Transport" title="Transport">
                    <img class="imageStep" src="/assets/images/four.png" alt="4" title="4">
                    <p>Nos livraisons (24/48h) sont effectuées par transporteur routier</p>
                </div>
            </div>
        </div>

        <div class="buttonDevis">
            <a class="btn btn-dark" href="/pattern/show">Voir nos modèles</a>
        </div>
    </section>

    <section class="carousel">
        <h2>Nos réalisations</h2>
        <div class="container">
            <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">

                <div class="carousel-inner" role="listbox">
                    <div class="imageCarousel carousel-item active"><a href="#"><img class="d-block w-100"
                                                                                     src="/assets/images/broderie1.jpg"
                                                                                     alt="Première slide"
                                                                                     title="Nos réalisations"></a>
                        <p>
                            Quelques réalisations de broderie</p>
                    </div>
                    <div class="imageCarousel carousel-item"><a href="#"><img class="d-block w-100"
                                                                              src="/assets/images/broderie2.jpg"
                                                                              alt="Deuxième slide"
                                                                              title="Nos réalisations"></a>
                        <p>
                            Quelques réalisations de broderie</p>
                    </div>
                    <div class="imageCarousel carousel-item"><a href="#"><img class="d-block w-100"
                                                                              src="/assets/images/broderie3.jpg"
                                                                              alt="Troisième slide"
                                                                              title="Nos réalisations"></a>
                        <p>
                            Quelques réalisations de broderie</p>
                    </div>
                    <div class="imageCarousel carousel-item"><a href="#"><img class="d-block w-100"
                                                                              src="/assets/images/broderie4.jpg"
                                                                              alt="Quatrième slide"
                                                                              title="Nos réalisations"></a>
                        <p>
                            Quelques réalisations de broderie</p>
                    </div>

                </div>
                <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span></a>
                <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span></a>
            </div>
            <div class="buttonDevis">

               <a class="btn btn-dark" href="/embroidery/examples">Voir nos réalisations</a>

            </div>
        </div>
    </section>

    <section class="description">
        <h2>Notre métier : la broderie</h2>
        <p>Entreprise artisanale située dans la banlieue d'Orléans, Design Broderie est spécialisée dans la broderie
            sur tous types de textiles. Elle est reconnue par l'ensemble de sa clientèle pour sa modernité, son
            efficacité et son sérieux. Elle vous propose un marquage de qualité et notamment de la broderie
            personnalisée sur vêtements fournis par nos soins (voir notre catalogue), ou broderie à façon sur vêtement
            fourni par le client, mais aussi de la broderie "à plat" (patchs, écussons...)
            et Équipée de machines industrielles BARUDAN à la pointe de la technologie, (multi têtes et mono têtes) de
            dernière génération et d'un service de programmation avec logiciels spécifiques à la broderie (pas de
            sous-traitance), nous pouvons, grâce à ces équipements et à notre savoir-faire de plusieurs années, vous
            assurer une qualité exemplaire à un prix tout à fait raisonnable, sans aucun frais technique. Le minimum de
            vêtements à broder est de 5 pièces.</p>
        -
        <h2>Entreprises</h2>
        <p>Pour donner à votre entreprise, tous les éléments d'une communication exceptionnelle et de qualité,
            n'hésitez pas à afficher votre publicité sur vos vêtements professionnels. De par son élégance et sa
            solidité, la broderie apporte à votre image une haute valeur ajoutée.
            Associations - Clubs sportifs
            La broderie est un moyen efficace d'afficher vos couleurs et logos et de donner à votre association toute la
            vitalité souhaitée et optimiser votre budget en vendant vos propres supports lors de rencontres, tournois,
            manifestations..</p>
    </section>

    <section class="localisation">
        <h2>Nous trouver</h2>
        <div class="container-fluid">
            <div class="row">
                <div class="col-6 text-center">
                    <h3>Adresse</h3>
                    <p>49, rue de Manthelon </br>
                        45370 Mézières-lez-Cléry</p>
                    <h3>Horaires</h3>
                    <p>Lundi 9h-12h, 14h-18h </br>
                        Mardi 9h-12h, 14h-18h </br>
                        Mercredi 9h-12h, 14h-18h </br>
                        Jeudi 9h-12h, 14h-18h </br>
                        Vendredi 9h-12h, 14h-18h </br>
                        Samedi fermé </br>
                        Dimanche fermé </p>
                </div>
                <div class="col-6 d-flex justify-content-center">
                    <iframe width="500" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                            src="https://www.openstreetmap.org/export/embed.html?bbox=1.7893230915069582%2C47.81939363381024%2C1.7964041233062746%2C47.822235569297845&amp;layer=mapnik&amp;marker=47.82081462100085%2C1.7928636074066162">
                    </iframe>
                </div>
            </div>
        </div>


    </section>
{% endblock %}

