{% extends 'layout.html.twig' %}
{% block stylesheet %} <link rel="stylesheet" href="/assets/css/patterns.css"> {% endblock %}
{% block title %}{{ parent() }} | Nos modèles {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-12">
                <h1 class="pattern-title"> Nos modèles </h1>
            </div>
        </div>
        <div class="row">
            {% for pattern in patterns %}
                <figure class="col-md-3">
                    <img src="/uploads/patterns/{{ pattern.photo }}" class="img-fluid pattern-img" alt="{{ pattern.name }}">
                    <figcaption class="text-center">{{ pattern.name }}</figcaption>
                </figure>
            {% endfor %}
        </div>
    </div>
{% endblock %}