{% extends 'layout.html.twig' %}
{% block stylesheet %} <link rel="stylesheet" href="/assets/css/form.css"> {% endblock %}
{% block title %}{{ parent() }} | Merci pour votre commande ! {% endblock %}

{% block content %}
    <div class="container mb-2">
        <div class="jumbotron text-center">
            <h1>Merci</h1>
            <p class="lead">
                Votre commande a bien été envoyée, vous recevrez un email vous indiquant la bonne prise en charge de votre demande
            </p>
            <hr>
            <p>
                Une question? <a href="" class="text-dark" >Contactez-nous</a>
            </p>
            <p class="lead">
                <a href='/home/index/' class="btn btn-secondary btn-lg" role="button">Retour à l'accueil</a>
            </p>
        </div>
    </div>
{% endblock %}