{% extends 'layout.html.twig' %}
{% block stylesheet %} <link rel="stylesheet" href="/assets/css/embroidery-examples.css"> {% endblock %}
{% block title %}{{ parent() }} | Nos réalisations{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-12">
                <h1 class="examples-title"> Nos réalisations </h1>
            </div>
        </div>
        <div class="row">
            {% for embroidery in embroideries %}
                <div class="col-md-4">
                    <img src="/assets/images/embroidery-examples/{{ embroidery.name }}" class="img-fluid embroidery-img" alt="{{ embroidery.name }}">
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}