h1 {
    color : var(--title-color);
    font-family : var(--title-font-family);
    text-align: center;
    margin-top : var(--spacing-6);
    padding : var(--spacing-2);
    background-color : var(--secondary-background-color);
}

.title {
    padding-top: var(--spacing-6);
}

.title > p {
    margin: 0 var(--spacing-4) var(--spacing-4) var(--spacing-4);
    padding : var(--spacing-2);
    text-align: center;
}

.card-text-center {
    border: 1px solid lightgrey;
    border-radius: var(--border-radius);
    margin-bottom: var(--spacing-2);
}
.card-text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-text-center > img {
    width:300px;
    height: 300px;
    padding: var(--spacing-4) 0px;
    border-bottom: 1px solid lightgrey;
}
.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    .card-text-center > img {
        width:200px;
        height: 200px;
    }
}
