h1 {
    color : var(--title-color);
    font-family : var(--title-font-family);
    text-align: center;
    margin-top : var(--spacing-6);
    padding : var(--spacing-2);
    background-color : var(--secondary-background-color);
}

.title {
    padding-top: var(--spacing-6);
}

.title > p {
    margin: 0 var(--spacing-4) var(--spacing-4) var(--spacing-4);
    padding : var(--spacing-2);
    text-align: center;
}

.card-text-center {
    border: 1px solid lightgrey;
    border-radius: var(--border-radius);
    margin-bottom: var(--spacing-2);
}
.card-text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imageAdmin {
    width: 150px;
    margin: var(--spacing-4);
    padding-bottom: var(--spacing-4);
    border-bottom: 1px solid lightgrey;
}
.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

