.title {
    margin : var(--spacing-6);
    padding : var(--spacing-2);
    background-color : var(--secondary-background-color);
    text-align: center;
}

.title-2 {
    margin-top : var(--spacing-6);
    text-align: center;
}

.container-fluid, .container {
    margin-top: var(--spacing-6);
    margin-bottom: var(--spacing-6);
}

@media screen and (max-width: 740px) {
    .title {
        background-color : unset;
    }

    :root {
        --title-font-size : 32px;
        --title-2-font-size : 24px;
    }
}