.banner {
    display: flex;
    justify-content: flex-end;
    background-image: url('/assets/images/sewing.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 600px;
    padding-top: var(--padding-barre);
}

.title {
    align-self: center;
    padding-right: 150px;
    font-family : var(--title-font-family)
}

.clothingCategory {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    padding: var(--spacing);
}

.clothingCategory h2 {
    align-self: center;
    margin-top: var(--spacing-4);
}

.containerImagePersonal {
    display: flex;
    justify-content: space-around;
    margin-top: var(--spacing-4);
}

.containerImagePersonal a:hover {
    opacity: var(--opacity);
}

.containerImagePersonal img {
    width: 200px;
    height: 250px;
    border-radius: var(--border-radius);
}

.buttonCatalog {
    align-self: center;
    margin-top: var(--spacing-4);
    margin-bottom: var(--spacing-4);
}

.buttonCatalog a {
    text-decoration: none;
    color: var(--light);
}

.buttonCatalog a:hover {
    opacity: var(--opacity);
}

.orderStep {
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.orderStep h2 {
    align-self: center;
    margin-top: 10px;
}

.containerOrderStep {
    display: flex;
    justify-content: space-around;
    margin-top: var(--spacing-4);

}

.containerOrderStep img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.55);
}

.containerNumber {
    display: flex;
    justify-content: space-around;
}

.containerNumber img {
    margin-top: var(--spacing-4);
    width: 30px;
    height: 30px;
}

.containerInformation {
    display: flex;
    justify-content: space-around;
    margin-top: var(--spacing-4);

}

.containerInformation p {
    width: 300px;
}
.containerInformation p a {
    font-weight: bold;
    color: var(--dark);
}

.buttonDevis {
    align-self: center;
    margin-top: var(--spacing-4);
    margin-bottom: var(--spacing-4);
}

.buttonDevis a {
    text-decoration: none;
    color: var(--light);
}

.buttonDevis a:hover {
    opacity: var(--opacity);
}



