
.small {
    font-size: 12px;
}

.spacenav ul li {
    margin: 0 var(--spacing-6);

}

.logo {
    width: 30%;
    height: 70%;
    padding-bottom: var(--spacing-2);
}


body {
    padding-top: var(--padding-barre);
}
