.title {
    margin : var(--spacing-6);
    padding : var(--spacing-2);
    background-color : var(--secondary-background-color);
    text-align: center;
}

th {
    width : 25%;
}

.container-fluid, .container {
    margin-top: var(--spacing-6);
    margin-bottom: var(--spacing-6);
}

.add {
    margin-bottom: var(--spacing-4);
}

.delete {
    margin-top: var(--spacing-6);
}

.imagePattern {
    width : 40px;
}