.title {
    margin : var(--spacing-6);
    padding : var(--spacing-2);
    background-color : var(--secondary-background-color);
    text-align: center;
}

th {
    width : 25%;
}

.add {
    margin-bottom: var(--spacing-4);
}

.delete {
    margin-top: var(--spacing-6);
}

.container-fluid, .container {
    margin-top: var(--spacing-6);
    margin-bottom: var(--spacing-6);
}

img {
    width : 300px;
}

.little {
    width: 60px; height: 60px;
    object-fit: contain;
}

.little:hover {
    width: 120px; height: 120px;
    object-fit: contain;
}


@media screen and (max-width: 740px) {

    :root {
        --title-font-size : 32px;
        --title-2-font-size : 24px;
    }
}