h1 {
    color : var(--title-color);
    font-family : var(--title-font-family);
    text-align: center;
}

.title {
    margin : var(--spacing-6);
    padding : var(--spacing-2);
    background-color : var(--secondary-background-color);
}

.container-fluid {
    margin-top: var(--spacing-6);
    margin-bottom: var(--spacing);
    display: flex;
    justify-content: center;

}

.card-body > div > p {
    margin: 0;
    text-align: center;
}

.card {
    margin-bottom : var(--spacing-4);
}

.link-provider {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin : 10px 20px 30px 20px;
    border-top: 1px solid var(--dark);
    padding-top: 20px;
}

.link-provider > p {
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
}

/*.filter-gender > p:nth-child(0n+1) {*/
/*    margin-right: var(--spacing);*/
/*}*/

.label-gender {
    border: 1px solid var(--dark);
    border-radius: calc(var(--border-radius) - 3px);
    padding: calc(var(--spacing) - 2px) var(--spacing);
    background-color: var(--secondary-background-color);
}

.reload {
    margin: var(--spacing) 0 var(--spacing-6) 0;
}

#btn-search {
    border: 1px solid var(--dark);
    border-radius: calc(var(--border-radius) - 3px);
    padding: calc(var(--spacing) - 2px) var(--spacing);
    background-color: var(--secondary-background-color);
}
#btn-search:hover {
    background-color: var(--background-color);
    color: var(--light);

}

.filters,
.genders {
    display: flex;
    justify-content: space-between;
}

.genders div:first-child {
    margin-right: var(--spacing);
}

.btn-gender {
    border-radius: 0;
}

.label-gender {
    margin-bottom: 0;
}

@media screen and (max-width: 750px) {
    .filters {
        display: flex;
        flex-direction: column;
    }

    .genders,
    .search {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 500px) {
    form,
    .genders {
        display: flex;
        flex-direction: column;
    }

    .genders {
        align-items: center;
        margin-top : var(--spacing-4);
    }

    .genders div:first-child {
        margin-right: 0;
    }

    .genders > div {
        margin-bottom: var(--spacing);
    }

    .genders > div > a,
    .label-gender {
        text-align: center;
        width : 254px;
    }
}