:root {
    --title-color: #ba3f21;
    --dark: rgb(16, 8, 3);
    --light: rgb(250, 248, 248);


    --secondary-background-color: #c9c9c943;
    --background-color: #c55543;
    --background-color-2: #C9C9C9;


    --border-radius: 8px;


    --title-font-family: 'Advent Pro';

    --font-family: 'Montserrat', sans-serif;


    --title-font-size: 4rem;
    --title-2-font-size: 2.5rem;

    --font-size-a: 10pt;
    --font-size-h3: 16pt;

    --spacing:8px;
    --spacing-2:calc(var(--spacing) * 2);
    --spacing-4:calc(var(--spacing) * 4);
    --spacing-6:calc(var(--spacing) * 6);
    --opacity: 0.70;

    --spacing-section: calc(var(--spacing) * 8);
    --padding-barre: 160px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    margin: 0;

}

h1 {
    font-size:  var(--title-font-size);
    color : var(--title-color);
    font-family : var(--title-font-family)
}

h2 {
    font-size:  var(--title-2-font-size);
    color : var(--title-color);
    font-family : var(--title-font-family)
}

@media screen and (max-width: 740px) {
    .title, h1, .examples-title, .order-title, .pattern-title {
        background-color : unset;
    }

    :root {
        --title-font-size : 3rem;
        --title-2-font-size : 2rem;
        --padding-barre: 40px;
    }
}
