{% extends 'layout.html.twig' %}
{% block stylesheet %} <link rel="stylesheet" href="/assets/css/admin.css"> {% endblock %}
{% block title %} Admin | Page d'accueil {% endblock %}

{% block content %}

<div class="container">
    <div class="title">
        <h1> BIENVENUE </h1>
        <p>Ajouter ou supprimer vos <strong>vêtements</strong>, modifier votre
            panel de <strong>logos</strong> préfaits et visualiser vos <strong>commandes</strong></p>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card-text-center">
                <img src="/assets/images/t-shirt.png" class="card-img-top" >
                <div class="card-body">
                    <h2 class="card-title">VÊTEMENTS</h2>
                    <p class="card-text">Les vêtements fournisseurs</p>
                    <a href="#" class="btn btn-dark">Pour diversifier votre catalogue</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card-text-center">
                <img src="/assets/images/needle.png" class="card-img-top" >
                <div class="card-body">
                    <h2 class="card-title">LOGOS</h2>
                        <p class="card-text">Les logos réalisés </p>
                    <a href="#" class="btn btn-dark">Pour rajouter vos nouveaux logos</a>
                </div>
            </div>
        </div>git s
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card-text-center">
                <img src="/assets/images/shopping-cart.png" class="card-img-top" >
                <div class="card-body">
                    <h2 class="card-title">COMMANDES</h2>
                    <p class="card-text">Les commandes passées</p>
                    <a href="#" class="btn btn-dark">Pour voir vos commandes reçues</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block footer %}
{% endblock %}
