{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/footer.css">
{% endblock %}

{% block footer %}

    <footer class="page-footer font-small stylish-color-dark pt-4">

        <div class="container text-center text-md-left">

            <div class="row">

                <div class="col-md-4 mx-auto">
                    <h3 class="font-weight-bold text-uppercase mt-3 mb-4">Design Broderie</h3>
                    <p class="footerText w-100">Pour donner à votre entreprise, tous les éléments d'une communication
                        exceptionnelle et de
                        qualité, n'hésitez pas à afficher votre publicité sur vos vêtements professionnels. De par son
                        élégance et sa solidité, la broderie apporte à votre image une haute valeur ajoutée.</p>
                </div>

                <hr class="clearfix w-100 d-md-none">

                <div class="col-md-2 mx-auto">
                    <h3 class="font-weight-bold text-uppercase mt-3 mb-4">Catalogue</h3>
                    <ul class="list-unstyled">
                        <li><a href="#!">Tee-shirts</a></li>
                        <li><a href="#!">Polos</a></li>
                        <li><a href="#!">Chemises</a></li>
                        <li><a href="#!">Sweats</a></li>
                        <li><a href="#!">Polaires</a></li>
                        <li><a href="#!">Casquettes</a></li>
                    </ul>
                </div>

                <hr class="clearfix w-100 d-md-none">

                <div class="col-md-2 mx-auto">
                    <h3 class="font-weight-bold text-uppercase mt-3 mb-4">Liens utiles</h3>
                    <ul class="list-unstyled">
                        <li><a href="/order/sendquote">Demander un devis</a></li>
                        <li><a href="/info/infosend">Nous contacter</a></li>
                        <li><a href="/Session/login">Administration</a></li>
                    </ul>
                </div>

                <hr class="clearfix w-100 d-md-none">

                <div class="col-md-2 mx-auto">
                    <h3 class="font-weight-bold text-uppercase mt-3 mb-4">Contact</h3>
                    <ul class="list-unstyled">
                        <li><p> 49 Rue de Manthelon, 45370 Mézières-lez-Cléry</p></li>
                        <li><p><img src="/assets/images/home/phone.png" alt="Fixe"> 02 38 45 95 78</p></li>
                        <li><p><img src="/assets/images/home/phone-call.png" alt="Portable"> 06 48 60 09 71</p></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center py-3">Siret : 484 849 120 00015 - APE : 1399Z - TVA Intra Com. FR 71 484849120 <br>
            <a class="mention" href="https://www.service-public.fr/professionnels-entreprises/vosdroits/F31228" target="_blank"> Mentions légales</a>
        </div>
    </footer>
{% endblock %}